<!DOCTYPE html>
<html ng-app="ngCn">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!--[if lte IE 8]> <link rel="stylesheet" type="text/css" href="/css/main.lte_ie8.css"> <![endif]-->
    <link rel="stylesheet" type="text/css" href="css/pattern.css">

    <script type="text/javascript" src="js/jquery-2.0.3.min.js"></script>
    <!-- script type="text/javascript" src="js/angular.preinit.js"></script -->
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script>
        //# 
        var cn = window.cn || {
                data: {}
            },
            ngCn = angular.module("ngCn", ['ngSanitize'])
        ;
    </script>
    <script type="text/javascript" src="js/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="js/cnNg.module.cnDirectiveFactory.js"></script>
    <script type="text/javascript" src="js/cnNg.module.cnStyler.js"></script>
    <script type="text/javascript" src="js/cnNg.directives.js"></script>
    <script type="text/javascript" src="js/cnNg.filters.js"></script>
    <script type="text/javascript" src="js/cn.enums.js"></script>
    <!--<script type="text/javascript" src="js/cn.data.patterns.js"></script>-->
    <script type="text/javascript" src="js/tkddata.js.php?var=cn.patterns&version=1.1"></script>
    <script type="text/javascript" src="js/cn.format.patterns.js"></script>
    <script>
        //# 
        $(document).ready(function () {
            cn.ready();
        });

        cn.ready = function () {
            //# 
            $(".pictorial IMG").error(function () {
                $(this).parents(".pictorial").hide();
            });
        };

        //# define Controller
        ngCn.controller('PatternController', function ($scope, $filter, $timeout) {
            $scope.cn = cn;
            $scope.enums = cn.enums;
            $scope.show = {
                header: true,
                techniques: true,
                patterns: true,
                longmeaning: true,
                pictorial: true,
                encyclopedia: false
            };
            
            //# Initialize the controller
            $scope.init = function() {
                $scope.refresh();

                //# 
                $(window).on('hashchange', function () {
                    cn.ready();
                    $scope.refresh();
                });
            };
            

            //# 
            $scope.refresh = function() {
                var i, current,
                    iPatternID = location.hash.substr(1)
                ;

                //# 
                if (!isNaN(parseFloat(iPatternID)) && isFinite(iPatternID)) {
                    $scope.Patterns = cn.patterns.patterns("?", "ID", iPatternID);
                }
                else {
                    $scope.Patterns = cn.patterns.patterns();
                }

                //# 
                for (i = 0; i < $scope.Patterns.length; i++) {
                    current = $scope.Patterns[i];
                    current.GroupedCounts = cn.format.patterns.groupByCount(current.id);
                    current.techniquesCache = cn.patterns.techniquecounts("?", "patternid", current.id) || {};
                    current.encyclopedia = cn.patterns.encyclopedia("?", "patternid", current.id) || {};
                }

                //# .apply the changes on the next loop
                $timeout(function() {
                    $scope.$apply();
                });
            };
            

            //# 
            $scope.getEncyclopediaCount = function (oPattern, count) {
                var a_sCount = $filter('filter')(oPattern.encyclopedia, { count: count }, true);
                return (a_sCount.length > 0 ? a_sCount[0].text : "Error!");
            };
            
            
            //#
            $scope.getTulExercise = function(oPattern, bAsTitle) {
                var iId = oPattern.id,
                    bIsExercise = ((iId >= 1000 && iId <= 1003) || iId == 1011 || iId == 1012)
                ;
                
                if (bAsTitle) {
                    return (bIsExercise ? "Exercise" : "Pattern");
                } else {
                    return (bIsExercise ? "" : "Tul");
                }
            };
            

            //# 
            $scope.getTechniques = function (oPattern, filter, isAction) {
                var entry, i, newTech, newTool, newSection,
                    filtered = $filter('filter')(oPattern.techniquesCache, { kind: filter, isaction: (isAction === true ? 1 : 0) }, false)  //# Signal a case-insensitive comparison with false
                ;

                //return $filter('filter')(data.Attachments, { Kind: filter }, function (value, search) {
                //    return ((value + '').toLowerCase().indexOf((search + '').toLowerCase()) == 0);
                //});

                //# Traverse the filtered entries
                for (i = 0; i < filtered.length; i++) {
                    entry = filtered[i];
                    entry.text = (entry.description + '').trim();

                    //# If the entry has a blank .description, reset it to null
                    if (!entry.description || entry.text == '&nbsp;') {
                        entry.text = '';
                    }
                    //# Else we need to process this entry
                    else {
                        newTech = (entry.previoususecount === "0");
                        newTool = (entry.previoustoolusecount === "0");
                        newSection = (entry.previoustoolsectionusecount === "0");

                        //# If a .section is specified, then prepend it onto the .text
                        if (entry.section) {
                            entry.text = (!newTech && newSection
                                ? '<em>' + entry.section + '</em>'
                                : entry.section
                            ) + ' ' + entry.text;
                        }

                        //# If a .tool is specified, then append it onto the .text
                        if (entry.tool) {
                            entry.text += ' ' + (!newTech && newTool
                                ? '<em>[' + (entry.isarmtooltwin === "1" ? 'Twin ' : '') + entry.tool + ']</em>'
                                : '[' + (entry.isarmtooltwin === "1" ? 'Twin ' : '') + entry.tool + '] '
                            );
                        }
                        
                        //# If the entire entry is a newTech, then <em> the whole entry
                        if (newTech) {
                            entry.text = '<em>' + entry.text + '</em>';
                        }
                    }
                }

                return filtered;
            }; //# $scope.techniques
        }); //# ngCn.controller('PatternController'...
    </script>
</head>
    <body ng-controller="PatternController" ng-init="init()">
        <div class="noprint">
            Show:
            <span ng-click="show.header = !show.header" ng-style="show.header ? { 'text-decoration': 'none' } : { 'text-decoration': 'line-through' }">Header</span>
            &nbsp;
            <span ng-click="show.encyclopedia = !show.encyclopedia" ng-style="show.encyclopedia ? { 'text-decoration': 'none' } : { 'text-decoration': 'line-through' }">Encyclopedia</span>
            &nbsp;
            <span ng-click="show.techniques = !show.techniques" ng-style="show.techniques ? { 'text-decoration': 'none' } : { 'text-decoration': 'line-through' }">Techniques</span>
            &nbsp;
            <span ng-click="show.patterns = !show.patterns" ng-style="show.patterns ? { 'text-decoration': 'none' } : { 'text-decoration': 'line-through' }">Patterns</span>
            &nbsp;
            <span ng-click="show.longmeaning = !show.longmeaning" ng-style="show.longmeaning ? { 'text-decoration': 'none' } : { 'text-decoration': 'line-through' }">Long Meaning</span>
            &nbsp;
            <span ng-click="show.pictorial = !show.pictorial" ng-style="show.pictorial ? { 'text-decoration': 'none' } : { 'text-decoration': 'line-through' }">Pictorial</span>
        </div>

         <div ng-repeat="Pattern in Patterns">
            <div ng-hide="!show.header" class="header">
                <img src="img/diagrams/{{Pattern.diagram}}.png" style="background-color: #009025;" alt="Pattern Diagram" />
                <h1>{{Pattern.name}} {{getTulExercise(Pattern, false)}}</h1>
                <div class="description">
                    {{Pattern.guplevel}} {{Pattern.belt}} {{getTulExercise(Pattern, true)}}; {{Pattern.movementcount}} Movements
                </div>
                {{Pattern.meaning}}
            </div>
            <h1 ng-hide="show.header" style="page-break-after: avoid;">{{Pattern.name}} {{getTulExercise(Pattern, false)}} ({{Pattern.guplevel}} {{Pattern.belt}})</h1>

        
            <div ng-hide="!show.techniques" class="threeCol">
                <div ng-hide="getTechniques(Pattern, 'leg', false).length == 0">
                    <h3>Stances & Leg Techniques</h3>
                    <ul class="techniques">
                        <li ng-repeat="entry in getTechniques(Pattern, 'leg', false)" ng-hide="entry.text === ''" ng-bind-html="entry.text"></li>
                    </ul>
                </div>

                <div ng-hide="getTechniques(Pattern, 'leg', true).length == 0">
                    <h3>Leg Placements</h3>
                    <ul class="techniques">
                        <li ng-repeat="entry in getTechniques(Pattern, 'leg', true)" ng-hide="entry.text === ''" ng-bind-html="entry.text"></li>
                    </ul>
                </div>

                <div ng-hide="getTechniques(Pattern, 'motion').length == 0">
                    <h3>Motions</h3>
                    <ul class="techniques">
                        <li ng-repeat="entry in getTechniques(Pattern, 'motion')" ng-hide="entry.text === ''" ng-bind-html="entry.text"></li>
                    </ul>
                </div>
            
                <div ng-hide="getTechniques(Pattern, 'arm', false).length == 0">
                    <h3>Arm Techniques</h3>
                    <ul class="techniques">
                        <li ng-repeat="entry in getTechniques(Pattern, 'arm', false)" ng-hide="entry.text === ''" ng-bind-html="entry.text"></li>
                    </ul>
                </div>
            
                <div ng-hide="getTechniques(Pattern, 'arm', true).length == 0">
                    <h3>Arm Placements</h3>
                    <ul class="techniques">
                        <li ng-repeat="entry in getTechniques(Pattern, 'arm', true)" ng-hide="entry.text === ''" ng-bind-html="entry.text"></li>
                    </ul>
                </div>
            
                <div ng-hide="getTechniques(Pattern, 'body').length == 0">
                    <h3>Body Movements</h3>
                    <ul class="techniques">
                        <li ng-repeat="entry in getTechniques(Pattern, 'body')" ng-hide="entry.text === ''" ng-bind-html="entry.text"></li>
                    </ul>
                </div>
            </div>
        
        
            <table ng-hide="!show.patterns" class="patterns">
                <!-- caption class="rotate270" style="display: none;">
                    <div>
                        <em>{{Pattern.name}}</em>
                        <br /><!-- div>{{Pattern.AKA}}</div - ->
                        <div>{{Pattern.guplevel}} Pattern; {{Pattern.belt}}; {{Pattern.movementcount}} Movements</div>
                    </div>
                </caption -->
                <caption>
                    <h2>{{getTulExercise(Pattern, true)}} Writeup</h2>
                </caption>
                <thead>
                    <tr>
                        <th>
                            <em>Verbal</em>
                            <br />Count
                        </th>
                        <th>
                            Motion [Method] &nbsp; <em>Body Movement</em>
                            <br />(Eyes To; Diagram Direction)
                        </th>
                        <th>
                            Feet In
                            <br />Motion
                        </th>
                        <th>
                            Leg &nbsp; Section &nbsp; <em>Stance/Leg Technique</em> &nbsp; [Tool; Line]
                            <br />(Stance/Technique To; Diagram Direction)
                        </th>
                        <th>
                            Arm &nbsp; Section &nbsp; <em>Arm Technique</em> &nbsp; [Tool; Line]
                            <br />(Technique To; Diagram Direction)
                        </th>
                        <th class="primary">
                            <em class="face">☺</em>
                            <br />ing
                        </th>
                    </tr>
                    <tr class="line">
                        <td colspan="6"></td>
                    </tr>
                </thead>
                <tbody ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="count in Pattern.GroupedCounts">
                    <tr>
                        <td ng-class="count[0].counted == '1' ? 'count' : 'number'">{{count[0].count <= 0 || count[0].count >= 999 ? "&bullet;" : count[0].count}}</td>
                        <td ng-bind-html="cn.format.patterns.formatBodyMovement(count)"></td>
                        <td ng-bind-html="cn.format.patterns.formatLine(count, 'feetinmotion', false)"></td>
                        <td ng-bind-html="cn.format.patterns.formatTechnique(count, 'leg')"></td>
                        <td ng-bind-html="cn.format.patterns.formatTechnique(count, 'arm')"></td>
                        <td class='facing' ng-bind-html="cn.format.patterns.getColumnAsArray(count, 'facing', false).join('<br />')"></td>
                    </tr>
                    <tr ng-show="show.encyclopedia">
                        <td colspan="6">{{getEncyclopediaCount(Pattern, count[0].count)}}</td>
                    </tr>
                </tbody>
            </table>


            <div ng-hide="!show.longmeaning || !Pattern.longmeaning">
                <h2>{{Pattern.name}} In Depth</h2>
                <div class="description">By: Dale Copeland</div>
                <div ng-bind-html="Pattern.longmeaning | htmlify"></div>
            </div>
    
        
            <div ng-hide="!show.pictorial" class="pictorial">
                <h2>Pattern Pictorial</h2>
                <div class="description">By: Master Curell</div>
            
                <p>
                    Terminology on this diagram may differ from the descriptions above. This is something that happens often in Taekwon-do which is why the descriptions above were carefully sourced from the Encyclopaedia to ensure the greatest consistency possible.
                </p>

                <img src="img/mastercurell/{{Pattern.key}}.png" />
            </div>
        </div>
    </body>
</html>
