@media print {
    .noprint, .noprint * {
        display: none !important;
    }
}


/* Generic Table Styles */
TABLE {
    border-width: 0px;
    border-spacing: 0px;
    border-collapse: collapse;
    background-color: white;
    font-family: Calibri, Arial;
}
    TABLE CAPTION {
        text-align: left;
        margin: 10px 0;
    }
        TABLE CAPTION H2 {
            display: inline;
            padding: 0 10px 0 0;
        }
    TABLE TR {
        page-break-inside: avoid;
    }
    TABLE THEAD TH {
        padding-right: 5px;
        padding-left: 5px;
        white-space: nowrap;
    }
    TABLE TD,
    TABLE TH {
        padding: 3px;
        font-weight: normal;
    }


H1, H2, H3, H4, H5, H6 {
    font-family: fantasy;
    margin: 10px 0;
    padding: 0;
}
    H1 {
        font-size: 250%;
    }
    H2 {
        font-size: 200%;
    }
    H3 {
        font-size: 175%;
    }
    H4 {
        font-size: 150%;
    }
    H5 {
        font-weight: normal;
        font-size: 125%;
    }
    H6 {
        font-size: 100%;
    }


#orgtech LI {
	list-style-type: none;
}


/* */
.rotate270 > DIV {
    -moz-transform: rotate(270deg); /*FF*/
    -moz-transform-origin: left bottom;
    -o-transform: rotate(270deg); /*Opera*/
    -o-transform-origin: left bottom;
    -webkit-transform: rotate(270deg); /*Safari, Chrome*/
    -webkit-transform-origin: left bottom;
    -ms-transform: rotate(270deg); /*IE9*/
    -ms-transform-origin: left bottom;
    transform: rotate(270deg); /*CSS3 default*/
    transform-origin: left bottom;
    background-color: transparent;
    white-space: nowrap;
    zoom: 1;
    position: absolute;
}


/* */
.pictorial {
    page-break-before: always;
}
    .pictorial IMG {
        width: 100%;
    }


/* Patterns Table Styles */
.patterns {
    /* margin: 50px 0 0 50px; */
    /* position: relative; */
    width: 100%;
}
    .patterns CAPTION {
        margin: 0 0 -8px 0;
    }
    .patterns THEAD {
        font-size: 80%;
        font-style: italic;
        color: gray;
        text-align: left;
    }
        .patterns THEAD .face {
            font-size: 150%;
            line-height: 10px;
        }
        .patterns THEAD TH.shrink {
            width: 1%;
            white-space: nowrap;
            padding: 0 30px 0 0;
        }
            .patterns THEAD TH.shrink:first-of-type,
            .patterns THEAD TH.shrink:last-of-type {
                padding: 0;
            }
        .patterns .line {
            height: 2px;
            background-color: black;
        }

    .patterns TD {
        font-style: italic;
        color: gray;
        padding: 1px 0 1px 0;
    }

        .patterns TD DIV {
            display: inline;
            white-space: nowrap;
        }

    .patterns CAPTION DIV {
        top: 520px;
        width: 580px;
        font-family: Calibri, Arial, Helvetica, sans-serif;
        text-align: right;
    }

    .patterns CAPTION EM {
        font-size: 200%;
    }
        
    .patterns TBODY {
        page-break-inside: avoid;
    }


    .patterns .count,
    .patterns .facing,
    .patterns .primary,
    .patterns EM {
        font-style: normal;
        font-weight: normal;
        color: black;
    }

    .patterns .count,
    .patterns .number,
    .patterns .facing {
        text-align: center;
    }
/*
    .patterns .addedtext,
    .patterns SPAN {
        color: #009025; /* #C0504D * /
        border-bottom: dashed 1px #009025; /* #C0504D * /
    }
*/
    .patterns .junbi {
        font-weight: bold;
        font-style: normal !important;
        color: black !important;
    }

    .patterns .odd {
        background-color: #E6E6E6;
    }



/* Stance Chart Styles */
.stancechart {
}
    .stancechart TD,
    .stancechart TH {
        border-width: 1px;
        border-style: inset;
        border-color: black;
        text-align: center;
    }

    .stancechart THEAD {
        background-color: #5A6879;
        color: white;
    }

        .stancechart THEAD TH {
            font-weight: bold;
        }

        .stancechart THEAD P {
            margin-top: 0;
            padding-top: 0;
            font-size: 80%;
        }

    .stancechart TBODY TH {
        font-style: italic;
    }

    .stancechart TFOOT TH {
        font-size: 80%;
        text-align: left !important;
    }

    .stancechart .attention {
        font-weight: bold;
    }

    .stancechart .realtive {
        font-style: normal;
    }

    .stancechart .parent {
        font-style: normal;
        font-weight: bold;
    }

    .stancechart .orphans .parent {
        background-color: white;
    }

    .stancechart .parallel .parent {
        background-color: #D99594;
    }

    .stancechart .parallel TH {
        background-color: #F2DBDB;
    }

    .stancechart .sitting .parent {
        background-color: #FABF8F;
    }

    .stancechart .sitting TH {
        background-color: #FBD4B4;
    }

    .stancechart .bending .parent {
        background-color: #C2D69B;
    }

    .stancechart .bending TH {
        background-color: #D6E3BC;
    }

    .stancechart .walking .parent {
        background-color: #B2A1C7;
    }

    .stancechart .walking TH {
        background-color: #CCC0D9;
    }

    .stancechart .l .parent {
        background-color: #8DB3E2;
    }

    .stancechart .l TH {
        background-color: #C6D9F1;
    }
        ul.techniques li {
            font-style: italic;
        }
            ul.techniques li em {
                font-weight: bold;
                font-style: normal;
            }


        
             
 /**/
.analysis CAPTION {
    margin: 0;
}
.analysis TH {
    font-size: 125%;
    text-align: left;
    font-family: fantasy;
    font-weight: normal;
    padding: 5px 0 0 0;
}
.analysis TD {
    padding: 0;
    vertical-align: top;
}
.analysis UL {
    margin: 0;
    padding: 0 0 0 20px; 
}
    .analysis UL LI {
        font-style: italic;
        color: gray;
    }
    .analysis UL LI EM {
        font-weight: bold;
        font-style: normal;
        color: black;
    }



.threeCol {
    margin: 10px 0 0 0;
    column-count: 3;
    column-gap: 10px;
    -moz-column-count: 3;
    -moz-column-gap: 10px;
    clear: both;
    page-break-inside: avoid;
}
    .threeCol H3 {
        font-size: 150%;
        margin: 0;
        padding: 0;
    }
    .threeCol DIV {
        page-break-inside: avoid;
    }
    .threeCol UL {
        margin: 0 0 10px 0;
    }
        /*.threeCol UL LI {
            page-break-inside: avoid;
        }*/


.description {
    margin: -25px 0 10px 20px;
    font-size: 150%;
    color: #009025;
}
.header IMG {
    width: 20%;
    float: right;
}        
