/*
<script>
    (function($scope){
        var css = $scope.css = $scope.css || {},
            $mainScope = angular.element(document.getElementsByTagName('html')).scope();
        ;

        $mainScope.css = css;

        css.mainColor = "#009025";
    })($scope);
</script>
*/


/* HTML styles */
A {
    color: /*{{css.mainColor}}*/;                
}

/*
<script>
    (function($scope){
        var css = $scope.css = $scope.css || {};

        var otherCss = {
            color: "blue"
        };

        css.neek = {
            $selector: ".neek",
            "background-color": "white",
            "font-weight": "bold",
            moreCSS: {
                "font-size": "30pt",
                "margin": "10px",
                evenMoreCSS: {
                    padding: "20px"
                }
            },
            otherCss: otherCss
        };
    })($scope);
</script>
*/



/*{{css.neek | css}}*/

BODY {
    font-family: Calibri, Arial;
    font-size: 11.5pt;
    background-color: #eeeeee;
}
    BODY > DIV {
        page-break-after: always;
        /*page-break-inside: avoid;*/
        clear: both;

        background-color: white;
        margin: 0 auto 0 auto;
        width: 190mm; /* 210mm - 20mm */
        min-height: 270mm; /* 297mm - 27mm */
        /*-webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
        -moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
        box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);*/
    }
        BODY > DIV.title {
            text-align: center;
        }
            BODY > DIV.title .version {
                font-size: 130%;
                font-style: italic;
                margin: -10px 0 0 0;
            }
        BODY #toc .h1,
        BODY #toc .h2,
        BODY #toc .h3 {
            text-decoration: none;
            color: black;
            display: block;
            width: 100%;
        }
            BODY #toc A > SPAN[page] {
                float: right;
            }
            BODY #toc A > I {
                margin: 0 4mm 0 4mm;
            }
            BODY #toc .h1:hover,
            BODY #toc .h2:hover,
            BODY #toc .h3:hover {
                color: /*{{css.mainColor}}*/;
            }
            BODY #toc .h1 {
                font-size: 125%;
                margin-top: 0.5%;
            }
            BODY #toc .h2 {
                font-size: 110%;
                padding-left: 2%;
                width: 98%;
            }
            BODY #toc .h3 {
                padding-left: 4%;
                width: 96%;
            }
                
BLOCKQUOTE {
    padding: 0 0 0 4%;
    margin: 0;
    background-image: url("/ma/img/blockquote.gray.png");
    background-position: 0% 5px;
    background-size: 3.5%;
    background-repeat: no-repeat;
}

EM {
    font-weight: bold;
    font-style: normal;
}

H1, H2, H3, H4, H5, H6 {
    font-family: Blue Highway; /* fantasy, Miriam, Blue Highway, */
    margin: 20px 0 0 0;
    page-break-after: avoid;
}
    H1 + P {
        margin: 10px 0 0 0;
    }
    H1 + H2, H1 + H3,
    H2 + P, H2 + H3,
    H3 + P {
        margin: 0;
    }
    H6 {
        display: inline;
        font-size: 100%;
        font-weight: bold;
        font-size: 110%;
    }
    .h0 {
        font-family: Blue Highway;
        -moz-transform: rotate(270deg); /*FF*/
        -moz-transform-origin: left top;
        -o-transform: rotate(270deg); /*Opera*/
        -o-transform-origin: left top;
        -webkit-transform: rotate(270deg); /*Safari, Chrome*/
        -webkit-transform-origin: left top;
        -ms-transform: rotate(270deg); /*IE9*/
        -ms-transform-origin: left top;
        transform: rotate(270deg); /*CSS3 default*/
        transform-origin: left top;
        background-color: transparent;
        white-space: nowrap;
        zoom: 1;
        font-size: 500%;
        position: relative;
        display: inline-block;
        line-height: 80%;
        color: /*{{css.mainColor}}*/;
        padding: 0;
        margin: 0;
        font-family: inherit;
    }

HR {
    page-break-after: always;
    width: 100%;
    height: 20px;
    background-color: #eeeeee;
    border: 0;
}

IMG {
    margin: 0 5px 0 5px;
}
    IMG.full {
        width: 98%;
        margin: 0 1% 0 1%;
    }

P {
    margin: 10px 0 0 0;
}

TABLE {
    width: 98%;
    margin: 10px 1% 0 1%;
    border: 1px solid black;
    border-collapse: collapse;
}
    TABLE TH,
    TABLE TD {
        border: 1px solid black;
        padding: 2px;
    }
    TABLE THEAD,
    SPAN.th {
        background-color: /*{{css.mainColor}}*/;
        color: white;
        font-weight: bold;
    }
        SPAN.th {
            padding: 0 5px 0 5px;
        }
        TABLE.alt THEAD,
        SPAN.th.alt {
            background-color: #999999 !important;
        }
    TABLE.records TBODY TD {
        line-height: 40px;
    }

UL, OL {
    margin: 0;
}
    UL LI, OL LI {
        margin: 3px;
        page-break-inside: avoid;
    }
    UL LI.subbullet {
        list-style-type: circle;
    }
            
/* Classes */
.imagebox {
    font-size: 50%;
    text-align: center;
    font-weight: bold;
}
    .imagebox.full {
        width: 98%;
        margin: 0 1% 0 1%;
    }
    IMG.theme,
    .imagebox.theme {
        background: /*{{css.mainColor}}*/;
    }
    .imagebox.right {
        float: right;
    }
    .imagebox.left {
        float: left;
    }
    .imagebox IMG {
        width: 100%;
        margin: 0;
    }
    .imagebox EM {
        color: #cccccc;
        font-style: italic;
        font-weight: normal;
        display: block;
    }

.col2 {
    margin: 10px 0 0 0;
    column-count: 2;
    column-gap: 10px;
    -moz-column-count: 2;
    -moz-column-gap: 10px;
    clear: both;
}
    .col2 TABLE {
        margin-top: 0;
        font-size: 75%;
    }

.nowrap {
    white-space: nowrap;
}

.title H2 {
    margin-top: 70px;
}

.PAGEBREAK {
    page-break-before: always;
}
.PAGEBREAKAFTER {
    page-break-after: always;
}

/* GradingSheet template styles */
H1.grading {
    margin: 0 0 -8px 0;
    text-align: center;
    width: 100%;
}
.grading TABLE {
    border: none;
    font-size: 75%;
}
    .grading TABLE TH,
    .grading TABLE TD {
        border: 1pt solid black;
    }
    .grading TABLE TD {
        height: 40px;
    }
    .grading TABLE TH {
        background-color: #999999;
        color: white;
        font-weight: bold;
        text-align: center;
    }
    .grading TABLE TH {
        width: 33%;
    }
        .grading TABLE TH.highlight {
            background-color: /*{{css.mainColor}}*/;
        }
            .grading TABLE TH.highlight.lg {
                font-size: 175%;
            }
    .grading TABLE TBODY TD SPAN {
        float: right;
        margin: 0 3px 0 0;
    }
        .grading TABLE TBODY TD.description SPAN {
            font-size: 80%;
            margin-top: 25px;
        }
        .grading TABLE TBODY TD.description P {
            margin: 0;
        }
    .grading TABLE .score {
        width: 8%;
    }
    .grading TABLE .description {
        width: 25%;
    }
    .grading TABLE .hidden {
        border: none;
        background-color: white !important;
        color: white !important;
    }
    .grading TABLE.header TH,
    .grading TABLE.header TD {
        width: 33%;
    }
        .grading TABLE.header TH[rowspan] {
            width: 66%;
        }
    .grading TABLE .comments {
        height: 220px;
    }

/* stance-related */
.stance H2 > SPAN {
    font-size: 80%;
}
.stance EM {
    border-bottom: 1px dashed /*{{css.mainColor}}*/;
    font-weight: normal;
}
.stance DEL,
.stance MARK {
    font-style: italic;
    color: #666666;
    background-color: transparent;
}

/* Print styles */
@media print {
    BODY {
        background-color: white;
    }
        BODY > DIV {
            width: 100%
        }
    HR {
        height: 0;
        width: 1px;
        display: inline;
        background-color: white;
    }
    .noprint {
        display: none;
    }
}
